table{
    border: 8px solid lightcoral;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    
}
button
{
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: darksalmon;
    border-radius: 5px;
    color: darkblue;
    
}
th,td,tr{
    color: red;
    background-color:antiquewhite;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightcoral;
    font-family: cursive;
}
img{
    height: 100px;
    width: 100px;
}