<body>

    <table class="pagecenter">
        <tr>
            <td>Cid</td>
            <td>{{customerList.cid}}</td>
        </tr>
        <br/>
        <tr>
            <td>Cname</td>
            <td>{{customerList.cname}}</td>
        </tr>
        <br/>
        <tr>
            <td>Contactnumber</td>
            <td>{{customerList.contact_number}}</td>
        </tr>
        <br/>
        <tr>
            <td>Address</td>
            <td>{{customerList.address}}</td>
        </tr>
        <br/>
        <tr>
            <td>Password</td>
            <td>{{customerList.password}}</td>
        </tr>
        <br/>
        <br/>
       
    </table>
    <button (click)="editcustomer">Edit</button>
    <button>Change Password</button>
</body>